.header {
    padding: 0 7rem 0 7rem;
    background-color: #252525ef;
    color: white;
}

.avatar {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.nav-bar {
    /* padding: 0 5rem 0rem 5rem ; */
}

.nav-item {
    /* padding: 1.2rem; */
    height: 1rem;
    width:3.6rem
}

.cv-button {
    border: 2px solid red;
    border-radius: 10%;
    background-color: #29292cd0;
   
}