



.skill-image {

  width: 20%;
  padding: 0.5rem;

}

.project-title {
  color: white;
  font-size: clamp(0.8rem, 1.9vw, 1.4rem);
  text-transform: uppercase;
  background-color: black;

}

.project-link {
  border: 5px solid white;
  background-color: black;
  box-sizing: border-box;
}

.project-image {
  width: clamp(10rem, 12vw, 25rem);
  height: clamp(10rem, 12vw, 25rem);
  object-fit: cover;
}



@media only screen and (max-width: 1200px) {
  .project-container{
    flex-direction: column;
    }
}