header {
    top: 0;
    background-color: #252525ef;
    color: white;
    position: fixed;
    width: 100%;

}

.avatar {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.nav-item, .hidde-nav-item .cv-button {
    font-size: 1.2rem;
}

.cv-button {
    border: 2px solid red;
    border-radius: 10%;
    background-color: #29292cd0;
   
}

.menu-link {
  color: inherit;
}

.menu-link:hover {
  color: var(--hover-color);
}

.burger-menu-button {
  font-size: 2rem;
}

.hidden {
  display: none;
  width: 100%;
  background-color: #252222ef;
  top: 8rem;
  /* position: fixed; */
  color: white;
}

.close {
  display: unset;
  margin: 0;
}


@media only screen and (max-width: 774px) {
  .nav-item {
    display: none;
  }
  .my-name {
    display: none;
  }
  
 
}

@media only screen and (min-width: 776px) {
  .burger-menu-button {
    display: none;
  }
  
}







