:root {
    --main-color: #252525ef;
    --hover-color: red;
}

html {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    position:relative;
    
}

.main-content {
    width: 100%;
    height: 100%;  
    background: linear-gradient(
        to right,
        #00203FFF 0%,
        #00203FFF 50%,
        #ADEFD1FF 50%,
        #ADEFD1FF 100%);
        overflow-y: auto;
}


.my-name {
  font-size: clamp(0.5rem, 2vw, 1.5rem);
}

.my-name::before {
  font-size: 20px;
  content: '<';
  padding-right: 0.5rem;
  color: red;
}
.my-name::after {
  font-size: 20px;
  content: '>';
  padding-left: 0.5rem;
  color: red;
}

h1 {
  font-size: clamp(1.2rem, 2.2vw, 3.5rem);
}

h3 {
  
  font-size: clamp(0.4rem, 2.3vw, 1.5rem);
}

#changing-word {
  color: rgb(245, 0, 0);
}

#changing-word::after {
  color: red;
  content: '_';
  margin-left: 5px;
  animation: blink 0.7s infinite;

}

 .split {
    height: 100%;
    width: 50%;
    position: static;
  
} 
 .left {
    background-color: #234E70;
    display: flex;
    max-width: 50%;
    align-items: center;
    /* height: 91vh; */
    color: #ADEFD1FF;
    
}
.right {
    display: flex;
    max-width: 50%;
    align-items: center;
    /* height: 100vh; */
    color: #00203FFF;
  
} 

.big-avatar {
    width: clamp(10rem, 50%, 30rem);
    height: clamp(10rem, 50%, 30rem);
    border-radius: 50%;
    object-fit: cover;
}


ul {
list-style: none;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  
}



/* reusable ccs-classes */

.flex {display: flex;}
.grid {display: grid;}
.grid-4column {grid-template-columns: auto auto auto auto;}
.justify-center {justify-content: center; }
.align-center {align-items: center;}
.column {flex-direction: column;}
.space-between {justify-content: space-between;}
.p0 {padding: 0;}
.p1 {padding: 1rem;}
.m0 {margin: 0;}
.m1 {margin: 1rem;}
.gap1 {gap: 1rem;}
.border {border: 2px solid white;}


@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media only screen and (max-width: 774px) {
  .left-content{
    margin: 0;
    padding: 0;
  }
 
 
}